/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.router-outlet {
    max-width: 800px; 
    margin: 0 auto;
}

.center-content {
    display: flex;
}

.pe-3 {
    padding: 15px;
}
.me-3 {
    padding: 15px;
}

.me-a {
    margin-right: auto;
}

.ms-a {
    margin-left:auto;
}

#addButton {
    width: 46px;
    height: 46px;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.button-size {
    margin-top: auto;
    margin-bottom: auto;
    max-width: auto;
    max-height: auto;
    width: 60px;
    height: 36px;
    margin-right: 20px;
}

.flexContainer {
    display: flex;
    flex-direction:row;
    width:100%;
}

.logOut {
    margin-left: auto !important;
    margin-right: 20px !important;
    height: 40px;
    border-radius: 10px;
    transition: 0.25s background ease;
}

.width-100 {
    width: 100%;
}

#taskHeader {
    display: flex;
    flex-direction: row;
}

#homeButtonContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

}